:root {
  /* colors */
  --color-grey-950: hsl(255, 22%, 4%);
  --color-grey-900: hsl(248, 17%, 9%);
  --color-grey-850: hsl(248, 15%, 11%);
  --color-grey-800: hsl(248, 10%, 15%);
  --color-grey-700: hsl(248, 5%, 34%);
  --color-grey-600: hsl(251, 9%, 53%);
  --color-grey-200: hsl(252, 11%, 91%);
  --color-green-200: hsl(127, 100%, 82%);
  --color-yellow-200: hsl(42, 91%, 68%);
  --color-orange-400: hsl(13, 95%, 66%);
  --color-red-500: hsl(0, 91%, 63%);
  --gradient-1: linear-gradient(
    90deg,
    rgba(20, 19, 27, 1) 0%,
    rgba(8, 7, 11, 1) 50%
  );
  /* typography */
  --font-family-primary: "JetBrains Mono", monospace;
  --text-spacing-primary: 0px;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;

  --line-height-1: 1.3125;
  --line-height-2: 1.3333;
  --line-height-4: 1.25;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background: var(--gradient-1);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-18);
  letter-spacing: var(--text-spacing-primary);
  color: white;
  /* 4. Add accessible line-height */
  line-height: var(--line-height-2);
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

main {
  display: grid;
  place-content: center;
  place-items: center;
  min-block-size: 100vh;
}

.password_generator_card {
  inline-size: 95vw;
}

@media (min-width: 35rem) {
  .password_generator_card {
    inline-size: 540px;
  }
}

.password_generator_card > * + * {
  --spacing: 1rem;
  margin-block-start: var(--spacing);
}

@media (min-width: 35rem) {
  .password_generator_card > * + * {
    --spacing: 2rem;
  }
}

/* utilities */

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-preset-1 {
  font-size: var(--font-size-32);
  line-height: var(--line-height-1);
}

.text-preset-2 {
  font-size: var(--font-size-24);
  line-height: var(--line-height-2);
}
.text-preset-4 {
  font-size: var(--font-size-16);
  line-height: var(--line-height-4);
}

.bg-grey-800 {
  background-color: var(--color-grey-800);
}

.full-inline-size {
  inline-size: 100%;
}

/* block */

.password_generator__title {
  font-size: var(--font-size-16);
  line-height: var(--line-height-4);
  font-weight: normal;
  color: var(--color-grey-600);
  text-align: center;
}

.password__attributes {
  padding: 1rem;
}

@media (min-width: 35rem) {
  .password__attributes {
    padding-inline: 2rem;
    padding-block: 1.5rem;
  }
}

.password__container {
  position: relative;
}
.password__container input {
  background-color: transparent;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.password__container img {
  position: absolute;
  top: -10%;
  transform: translateY(50%);
  right: 8px;
  cursor: pointer;
}

.btn {
  background-color: var(--color-green-200);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  justify-content: center;
  align-items: center;
}

.btn:hover {
}

.btn div {
  display: inline-flex;
  align-items: center;
}

.btn div img {
  margin-inline-start: 1rem;
  height: 12px;
}
